footer{
    background-color:#FEE3DA;
}

#footer_itens{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}
#copyrat{
    color: #000;
    font-weight: 500;
}
